body {
  color:#b32424;
  /*font-family:cursive;*/
  width:100%; /*ページ全体の幅は100%と指定する*/	
  text-align:center; /*ページ全体を中央揃えにする*/
}

button {
  width: 10em;
  height:3em;
}

textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px; solid #dee7ec
}

.font50 {
  font-size:50px;
}
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}
